/**********************************Tag Selector**********************************/
        body{background-color: #CCF2F4  ;}  /**/

        hr{ 
            border-style: none;
            border-top: dotted;
            width: 3%;
            border-color: #055052;
            border-width: 5px;
        }
        h1{color: #2F5D62;}
        h3{color: #3E2C41;}
        h4{color: #3E2C41;}
        
        a:link { color: #0F044C;}
        a:hover{ color: #FF2626;}
        

/**********************************Class Selector**********************************/
.x{border-color: #3D087B;
   width: 5%;}
.b{ color: black;}

/**********************************ID Selector**********************************/